@font-face
{
    font-family: 'Raleway';
	src: url('Polices/Raleway-VariableFont_wght.ttf') format('truetype');
}



body{
    font-family: Raleway;
    color: #232323;
    margin: auto;
    width: 100%;
}


*{
    box-sizing: border-box;
  
}
title{
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    font-size: 20px;
}


h2{
     font-size: 20px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 15px;
    font-weight: 700;
}

h5{
    font-size: 18px;
 
}

p{
    font-size: 15px;
}
strong{
    font-size: 15px; 
}

/*------------------------------
------PADDING LEFT GENERAL-------
------------------------------*/

.titre-presentation{
    margin-left: 20px;
}

.sous-titre-presentation{
    margin-left: 20px;
}
/*------------------------------
------------NAVBAR--------------
------------------------------*/

.container-logo-inscription {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center; 
    padding-left: 50px;
    padding-right: 50px;
}
/*-------HEBERGEMENTS-----------*/

.nav-element a{
    font-size: 15px;
    padding: 30px;
}

/*-------SINSCRIRE-----------*/

.nav-element1 a{
    font-size: 15px;
    font-weight: bold;
    color: #0065FC;
    padding: 30px;

}

/*-------ACTIVITES-----------*/

.nav-element2 a{
    font-size: 15px;
    padding: 30px;

}

/*---------NAVBAR HOVER---------*/

.nav-element a:hover {
    border-top: 2px solid #DEEBFF;
    color: #0065FC; 
    padding-top: 30px;
}
.nav-element1 a:hover {
    border: 2px solid #DEEBFF;
    color: #0065FC;
    padding-top: 30px;
}
.nav-element2 a:hover {
    border-top: 2px solid #DEEBFF;
    color: #0065FC; 
    padding-top: 30px;
}
/*------------------------------
----------SEARCHBAR-------------
------------------------------*/

.icone{
    height: 38px;
    background: #F2F2F2;
    border-radius:10px 0px 0px 10px ;
    line-height: 38px;
    padding-right: 15px;
    padding-left: 15px;
}
.searchbar{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 1.5%;
    margin-left: 20px;
}

.searchbutton{
    font-size: 15px;
}

input {
    border: 1px solid #D3D3D3;
    border-radius: inherit;
    font-weight: bold;
}

.rechercher{
    height: 38px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    font-size: 15px;
}

.rechercherloupe{
    height: 30px;
    background: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
}

.rechercher:focus {
    outline:0;
}


/*------------------------------
-----------FILTRES--------------
------------------------------*/

.container-filtre{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 20px;
}

.content-filtre{
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 25px;
    height: 40px;
    margin-left: 30px;
    Cursor:pointer;
}
.content-filtre:hover{
    background-color: #DEEBFF;
}

.icone-filtre{
    background-color:#DEEBFF;
    color: #0065FC;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
}

.content-filtre p{
padding-right: 15px;
padding-left: 5px;
margin-top: 0.2px;
font-weight: bold;
}

/*------------------------------
---------INFORMATIONS-----------
------------------------------*/

.containeur-info{
    display: flex;
    align-items: baseline;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icone-info{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    line-height: 30px;
    text-align: center;
}

.fa-info{
    color: #0065FC;
}

.texte-info{
    padding-left: 10px;
}

/ ----- TOUS LES HEBERGEMENTS ------ /

/*------------------------------
------AFFICHAGE LOGEMENTS-------
------------------------------*/


.liste-hebergements{
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    }

/*--------HEBERGEMENTS------*/

.titre-hebergements{
    padding-top: 2%;
    padding-left: 2%;
}

.liste-hebergements{
    background:#F2F2F2;
    border-radius:20px;
    height: 670px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    }

/*-----HOTELS------*/

.hotels{
    
    text-decoration: none;
    margin-bottom: 30px;
    color: black;
    width: 32%;
    background-color: white;
    border-radius: 30px;
    border: 6px solid #FFFFFF;
    transition: transform .2s;
    box-shadow: 0px 0px 10px 4px rgba(232, 225, 225, 0.75)
}


.hotels-texte{
    margin: -8px 5px 5px 9px;
    line-height: 2px;
    font-size: 15px;
}

.hotels img{
    padding: 0px 0px 0px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: 0 50%;
    width: 100%;
    height: 120px;
}
    
h4{
    font-size: 19px;
    font-weight: 700;
}

/*-----ETOILES------*/

.fa-star{
    color: #0065FC;
}

.gris{
    color:lightgrey;
}

/*-----AFFICHER PLUS------*/

.afficher-plus{
    padding-left: 3%;
    padding-top: 2%;
    font-size: 15px;
    font-weight: bold;
}



/*------------------------------
------LOGEMENTS POPULAIRES------
------------------------------*/

/*-----DISPOSITION------*/

article {
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
}

/*-----BACKGROUND-----*/

.les-plus-populaires{
    background:#F2F2F2;
    border-radius:20px;
    height: 670px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.titre-populaires{
    padding-top: 5%;
    padding-left: 5%;
}

/*-----DESIGN------*/

.containeur-populaires{
    display: flex;
    flex-direction: column;
}


.populaires{
    display: flex;
    flex-direction: row;
    width: 350px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 6px solid #FFFFFF;
    transition: transform .2s;
    box-shadow: 10px 10px 10px 10px rgba(232, 225, 225, 0.75)
}

.fa-chart-line{
    margin-left: 100px;
}

.populaires-texte{
    line-height: 25px;
    width: 700px;
    font-size: 15px;
    margin: -20px 0px 0px 12px;
}


.populaires-texte .star{
    padding-top: 7%;
}
.populaires img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    object-position: 0 50%;
    width: 95%;
    height: 155px;
}


.container-logo-inscription{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 50px;
padding-right: 50px;
}

.container-link-reverse {
display: flex;
justify-content: flex-end;
padding-right: 200px;
}

.nav-element, .nav-element2{
    position: relative;
    bottom: 55px;
}



/* ACTIVITES */

.container-activites
{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3%;

}

.activites{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0px 0px 10px 4px rgba(232, 225, 225, 0.75);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.fort-de-pomegues{
    margin-bottom: 20px;
}
.notre-dame-de-la-garde{
    margin-bottom: 20px;
}


.titre-activite{
    font-size: 15px;
    display: flex;
    padding-left: 20px;
    border-left: 20px;

}

.image-activites1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: 0 50%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: auto;

}

.image-activites2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: 0 50%;
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin: auto;
}
.image-activites3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: 0 50%;
    width: 100%;
    height: 112px;
    object-fit: cover;
    margin: auto;

}

.section-activites{
    width: 100%;
}

.title-activites{
    padding-top: 3%;
    margin-left: 20px;
}

.hotels:hover, .populaires:hover, .activites:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

    /* FOOTER */

footer
{
   background: #F2F2F2;
   display: flex;
   width: 100%;
 }
.footer-column
{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    justify-content: space-around;
    line-height: 200%;
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
}
.footer a
{
    text-decoration: none;
    color: black;
    justify-content: space-around;
}
.footer a:visited
{
    text-decoration: none;
    color: black;
}
.footer h4
{
    font-weight: bold;
    font-size: 15px;
}
.titre-footer{
    font-weight: bold;
    font-size: 15px;
}
.texte-footer{
    font-size: 15px;
}

.texte-footer:hover{
    font-weight: bold;
}

/*------------------------------
----------MEDIA QUERIES-------
------------------------------*/

@media screen and (max-width: 700px){

    .container-link-reverse {
        display: flex;
        justify-content: center;
        padding-right: inherit;
    }
.nav-element, .nav-element2{
    position: inherit;
    bottom: inherit;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;
    }


.nav-element a:hover{
    border-top: inherit;
    border-bottom: 3px solid blue;
    color: #0065FC; 
    padding-bottom: 20px;
}

.nav-element2 a:hover{
    border-top: inherit;
    border-bottom: 3px solid blue;
    color: #0065FC; 
    padding-bottom: 20px;
}



.containeur-filtre{
    display: flex;
    flex-direction: column;
    margin-left: inherit;
}

.containeur-info{
    padding-top: 20px;
    padding-bottom: 20px;
}

    .rechercher{
        display: none;
    }
.rechercherloupe{
    display: block;
    height: 38px;
}

input {
    width: 300px;
}

.titre-filtre{
    width :100%;
    margin-left: 40px;
}

footer{
    flex-direction: column;
}

/* ACTIVITES */

.container-activites
{
    flex-direction: column;
}

.activites{
    margin-bottom: 20px;
}
 
.image-activites1{
    height: 150px;
}

.image-activites2{
    height: 150px;
}

.image-activites3{
    height: 150px;
}

.section-activites{
    width: 100%;
}

.title-activites{
    padding-bottom: 2%;
    padding-top: 3%;
    padding-left: 5%;
}

main{
    flex-direction: column-reverse;
}

/*-----HOTELS------*/

.hotels{
    
    width: 95%;
    margin-bottom: 15px;
}

.liste-hebergements{
    background: inherit;
    height: 1510px;
    margin-left: inherit;
    }
.afficher-plus{
     padding-left: 1%;
    font-size: 15px;;
    }


/*------------------------------
------LOGEMENTS POPULAIRES------
------------------------------*/

/*-----DISPOSITION------*/

    
    /*-----BACKGROUND-----*/
    
    .les-plus-populaires{
        background:#F2F2F2;
        border-radius:inherit;
        height: 670px;
        width: 100%;
        margin-left: inherit;
    }
    
    /*-----DESIGN------*/
    
    
    .populaires{
        width: inherit
    }
    
    
    .populaires-texte .star{
        padding-top: 10%;
    }
    .fa-chart-line{
        margin-left: 180px;
    }
}


@media (min-width: 700px) and (max-width: 1200px) {

    main{
        flex-direction: column-reverse;
    }
      /* POPULAIRES */
    .populaires{
        width: inherit;
    }

    .titre-populaires{
        padding-top: 1%;
        padding-left: 1%;
    }
    
    .les-plus-populaires{
        margin-bottom: 20px;
        background-color: inherit;
    }
    .fa-chart-line{
        margin-left: 20px;
    }
    
     /* HOTELS */
    
    .hotels{
        width: 45%;
    }
    .liste-hebergements{
        height: inherit;
        margin-right: 20px;
    }
    
    
    /* ACTIVITES */

.container-activites
{
    flex-direction: column;
}

.activites{
    margin-bottom: 20px;
}
 
.image-activites1{
    height: 150px;
}

.image-activites2{
    height: 150px;
}

.image-activites3{
    height: 150px;
}

.section-activites{
    width: 100%;
}

.title-activites{
    padding-bottom: 2%;
    padding-top: 3%;
    padding-left: 5%;
}


}